<div class="loading text-center">
    <h2>Fetching images...</h2>
    <img src="{{ theme:img src='ajax-loader.gif' }}" width="200">
</div>

<div id="demo" class="carousel slide my-5" data-ride="carousel" style="position:relative;display: none;">

    <div class="overlay p-5">
        <h2 style="color: #fff;">{{ title }}</h2>
        <h4 style="color: #fff">{{ property_type }} - {{ listing_type | deslugify | title }}</h4>
        <h4 style="color: #fff;">{{ price }}</h4>
        <h5 style="background: #444;padding: 5px 10px;border-radius: 5px;color:#fff;display: inline-block;">{{ status }}</h5>
    </div>


    <!-- Indicators -->
    <ul class="carousel-indicators">

    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">

    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>

<ul class="d-flex justify-content-between my-5 flex-wrap pl-0" style="list-style: none;">
    {{ if land }}
        <li class="mb-4"><i class="fas fa-ruler-combined mr-2"></i>{{ land }} m2</li>
    {{ endif }}
    {{ if bedrooms }}
        <li><i class="fas fa-bed mr-2"></i>{{ bedrooms }} Bedrooms</li>
    {{ endif }}
    {{ if bathrooms }}
        <li><i class="fas fa-bath mr-2"></i>{{ bathrooms }} Bathrooms</li>
    {{ endif }}
    {{ if cars }}
        <li><i class="fas fa-car mr-2"></i>{{ cars }} Cars</li>
    {{ endif }}
</ul>

<div class="content p-5 mb-5" style="background: #fff;">
    <h3>{{ title }}</h3>
    {{ content | markdown }}
    <hr class="my-5">
    <h3>Location</h3>

    <p id="address">{{ address }}</p>
    <div id="map"></div>
</div>

<!--GOOGLE STUFF-->
<script>
    // Initialize and add the map
    function initMap() {
        // The map, centered at Uluru
        var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 16});

        var geocoder = new google.maps.Geocoder();

        //Geocode the address
        geocodeAddress(geocoder, map);

        function geocodeAddress(geocoder, resultsMap) {
            var address = document.getElementById('address').textContent;
            geocoder.geocode({'address': address}, function(results, status) {
                if (status === 'OK') {
                    resultsMap.setCenter(results[0].geometry.location);
                    new google.maps.Marker({
                        map: resultsMap,
                        icon: {url: '{{ theme:img src="icon-home.png" }}', scaledSize: new google.maps.Size(50, 68)},
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{ env:GOOGLEAPI }}&callback=initMap">
</script>

<!--AJAX IMAGE LOADING-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    jQuery(document).ready(function($){
        $.ajax({
            url: "/!/c_r_m_listings/images?url={{ images }}",
            success: function(result) {
                $('div.loading').hide();
                $('div.carousel').fadeIn();
                result.forEach(function(data, index){

                    function isActive(index) {
                        if(index == 0) {
                            return 'active';
                        }
                    }

                    $('ul.carousel-indicators').append('<li data-target="#demo" data-slide-to='+index+' class="'+ isActive(index) +'"></li>');
                    $('div.carousel-inner').append('<div class="carousel-item '+ isActive(index) +'" data-interval="5000"><img src="'+data.imageUrl+'" style="width: 100%;margin-top: -100px"></div>');
                });
            }
        });
    });
</script>