<div class="pageContent mb-5">
    {{ home_content }}

    {{ if type == "text" }}

        <div class="section">
            <div class="text">
                {{ text }}
            </div>
        </div>

    {{ elseif type == "image" }}

        <div class="section">
            {{ assets:image }}
                <img src="{{ url }}" width="100" />
            {{ /assets:image }}
        </div>

    {{ elseif type == "video" }}

        <div class="section">
            <div class='embed-container'>
                <iframe src='{{ video | embed_url }}' frameborder='0' allowfullscreen></iframe>
            </div>
        </div>

    {{ /if }}

    {{ /home_content }}
</div><!-- end pageContent -->

    {{ c_r_m_listings }}
        {{ if listings }}
            <div class="listings d-flex flex-wrap justify-content-between">
                {{ listings }}
                <div class="listing col-lg-4">
                    {{ images }}
                        {{ if first }}
                            <img src="{{ url }}" style="width: 100%;">
                        {{ endif }}
                    {{ /images }}
                    {{ advert_internet }}
                        <h5 class="title">{{ heading }}</h5>
                    {{ /advert_internet }}
                </div>
                {{ /listings }}
            </div>
        {{ endif }}

        {{ pagination }}
    {{ /c_r_m_listings }}

