<div class="pageContent mb-5">
    {{ home_content }}

    {{ if type == "text" }}

        <div class="section">
            <div class="text">
                {{ text }}
            </div>
        </div>

    {{ elseif type == "image" }}

        <div class="section">
            {{ assets:image }}
                <img src="{{ url }}" width="100" />
            {{ /assets:image }}
        </div>

    {{ elseif type == "video" }}

        <div class="section">
            <div class='embed-container'>
                <iframe src='{{ video | embed_url }}' frameborder='0' allowfullscreen></iframe>
            </div>
        </div>

    {{ /if }}

    {{ /home_content }}
</div><!-- end pageContent -->

<form class="mb-5 searchForm" method="GET" action="/search-results">
    {{ csrf_field }}
    <div class="row">
        <div class="col">
            <select name="suburb" class="form-control" id="exampleFormControlSelect1">
                <option value="">Select a suburb</option>
                {{ suburb }}
                <option value="{{ suburb_name }}">{{ suburb_name }}</option>
                {{ /suburb }}
            </select>
        </div>
        <div class="col">
            <select name="listing_type" class="form-control" id="exampleFormControlSelect1">
                <option value="residential_sale">For Sale</option>
                <option value="residential_rental">For Rent</option>
            </select>
        </div>
        <div class="col">
            <select name="status" class="form-control" id="exampleFormControlSelect1">
                <option value="Active">Current</option>
                <option value="Sold">Sold</option>
                <option value="Let">Let</option>
            </select>
        </div>
        <div class="col justify-content-end">
            <button type="submit" class="btn btn-primary" style="width: 100%;">Search</button>
        </div>
    </div>
</form>

<div class="listings d-flex flex-wrap justify-content-start">
    {{ collection:listings status:contains="Active" limit="20"}}
        <div class="listing col-lg-4">
            <a href="{{ url }}">
                <img src="{{ main_image }}" style="width: 100%;">
            </a>

            <h5 class="title m-0">{{ title }}</h5>
            <div class="details">
                <ul class="d-flex justify-content-between m-0 flex-wrap">
                    {{ if landarea }}
                        <li class="mb-4"><i class="fas fa-ruler-combined mr-2"></i>{{ landarea }} m2</li>
                    {{ endif }}
                    {{ if bedrooms }}
                        <li><i class="fas fa-bed mr-2"></i>{{ bedrooms }} Bedrooms</li>
                    {{ endif }}
                    {{ if bathrooms }}
                        <li><i class="fas fa-bath mr-2"></i>{{ bathrooms }} Bathrooms</li>
                    {{ endif }}
                </ul>
                <hr class="m-0">
                {{ if price }}
                    <h4 class="m-0">{{ price }}</h4>
                {{ /if }}
            </div>
        </div>
    {{ /collection:listings }}
</div>

