header {
  position: static;
  top: 0;
  margin-bottom: 20px;

  .navbar-toggler {
    background-color: $secondaryBlue;
  }

  .navbar-toggler-icon {
    background: url("../img/hamburger.svg");
    fill: #ffffff;
  }

  .navbar-scroll {
    margin-top: -10px;
    transition-duration: 0.6s;
  }
}

div.topBar {
  background: $secondaryBlue;
  transition-duration: 0.6s;
  padding: 15px 0;

  p, a {
    color: #fff;
    margin: 0;
  }
}

div.topBar-scroll {
  margin-top: -55px;
  transition-duration: 0.6s;
}

div.main {
  background: $baseBlue;
  padding: 25px 0;
}

nav.navbar {
  width: 100%;
  background: none;

  li > a {
    color: #fff;
  }
}