@import "variables";
@import "sections/header";
@import "sections/content";
@import "elements/listings";
@import "elements/searchForm";
@import "elements/agent";
@import "sections/footer";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  background: #fafafa;
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  color: #666666;
  font-weight: 400;
}

#pageContent {
  flex: 1 0 auto;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.columns {
  column-count: 2;
  column-gap: 40px;
}

@media (max-width: 991.98px) {
  div.columns {
    column-count: 1 !important;
  }
}

@media (min-width: 992px) {
  div.carousel {
    height: 600px;overflow: hidden;
  }
}
